/variables/nbproject/private/
/variables/build/
/datosNoPrimitivos/nbproject/private/
/datosNoPrimitivos/build/
/constantes/nbproject/private/
/inputAndOutput/nbproject/private/
/inputAndOutput/build/
/Calculadora/target/
/Calculadora/nbproject/private/
/Calculadora/build/
